# python
**/__pycache__
.venv
# git
**/.git
**/.gitignore
# VS Code
**/*.code-workspace*
.devcontainer
.vscode
# build files
**/.dockerignore
build
**/Dockerfile*
**/docker-compose.*.yml
# environment
**/.env*
# accessory files
LICENSE
Makefile
